#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "Register${entity.name}Parameters.java", $target.folder, "root/core/src/main/java/parameter/RegisterParameters_java.vm" )
#end