#if ( !$entity.name.contains("Enum_") )
#parse ( "include/domain_info.vm" )
$generator.generate($target.entityName, "Update${entity.name}By${domainId}Parameters.java", $target.folder, "root/core/src/main/java/parameter/UpdateByIdParameters_java.vm" )
#end