package ${target.javaPackageFromFolder(${SRC})};

import org.springframework.data.jpa.repository.JpaRepository;
import com.blinkfox.fenix.specification.FenixJpaSpecificationExecutor;
import ${ENTITY_PKG}.${entity.name};
#set( $entityKeyType = ${entity.keyAttributes[0].formattedType(0)} )
#include ( "/include/author.vm" )

public interface ${entity.name}Repository extends JpaRepository<${entity.name}, ${entityKeyType}>, FenixJpaSpecificationExecutor<${entity.name}>{

}