package ${target.javaPackageFromFolder(${SRC})};

import java.io.Serializable;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

#include ( "/include/author.vm" )

@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@Builder
@ToString
public class Enumerator implements Serializable {

#parse ( "include/serial_version.vm" )

    private String domain;

    private String key;

    private String value;
}
