#if ( !$entity.name.contains("Enum_") )
#parse ( "/include/domain_info.vm" )
$generator.generate($target.entityName, "Get${entity.name}By${domainId}ApiMethod.java", $target.folder, "root/entrypoints/rest/src/main/java/api/GetByIdApiMethod_java.vm" )
#end