#parse ( "/include/domain_info.vm" )
package ${ROOT_PKG}.entrypoint.rest.${entity.name.toLowerCase()}.api;

import ${ROOT_PKG}.entrypoint.rest.${entity.name.toLowerCase()}.domain.response.Get${entity.name}By${domainId}Response;
import ${ROOT_PKG}.entrypoint.rest.common.HttpStatusConstants;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.enums.ParameterIn;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.v3.oas.annotations.tags.Tag;

#include ( "/include/author.vm" )

@Tag(name = "${pluralEntityName}")
@FunctionalInterface
public interface Get${entity.name}By${domainId}ApiMethod {

    @Operation(operationId = "get${entity.name}By${domainId}", summary = "Get ${entity.name} by ${domainId}")

    @Parameter(name = "Accept-Language",
               example = "pt_BR",
               in = ParameterIn.HEADER,
               description = "Represents a specific geographical, political, or cultural region. Language & Country.")

    @ApiResponses(value = {@ApiResponse(responseCode = HttpStatusConstants.OK_200, description = HttpStatusConstants.OK_200_MESSAGE),
                           @ApiResponse(description = HttpStatusConstants.BAD_REQUEST_400_MESSAGE),
                           @ApiResponse(description = HttpStatusConstants.NOT_FOUND_404_MESSAGE),
                           @ApiResponse(description = HttpStatusConstants.INTERNAL_SERVER_ERROR_500_MESSAGE),})

    Get${entity.name}By${domainId}Response execute(@Parameter(description = "${entity.name} ${domainId}") final Long ${uncapitalizedDomainId});
}
