#if ( !$entity.name.contains("Enum_") )
#parse ( "/include/domain_info.vm" )
$generator.generate($target.entityName, "Register${entity.name}ApiMethod.java", $target.folder, "root/entrypoints/rest/src/main/java/api/RegisterApiMethod_java.vm" )
#end