#if ( !$entity.name.contains("Enum_") )
#parse ( "include/domain_info.vm" )
#set ( $pluralEntityName = $wordUtils.capitalize($inflector.getInstance().pluralize($entity.name)) )
$generator.generate($target.entityName, "Find${pluralEntityName}By${pluralDomainId}UseCase.java", $target.folder, "root/core/src/main/java/usecase/FindByIdsUseCase_java.vm" )
#end