#parse ( "/include/domain_info.vm" )
package ${ROOT_PKG}.core.${entity.name.toLowerCase()}.usecase;

import java.util.List;

import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.domain.${entity.name};
import ${ROOT_PKG}.core.common.paging.Page;

#include ( "/include/author.vm" )

@FunctionalInterface
public interface Find${pluralEntityName}By${pluralDomainId}UseCase {

    Page<${entity.name}> execute(final List<Long> ${uncapitalizePluralDomainId});
}
