#if ( !$entity.name.contains("Enum_") )
#parse ( "include/domain_info.vm" )
$generator.generate($target.entityName, "Get${entity.name}By${domainId}Gateway.java", $target.folder, "root/core/src/main/java/gateway/GetByIdGateway_java.vm" )
#end