#parse ( "/include/domain_info.vm" )
package ${ROOT_PKG}.core.${entity.name.toLowerCase()}.gateway;

import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.domain.${entity.name};
import ${ROOT_PKG}.core.common.paging.Page;

#include ( "/include/author.vm" )
#set ( $fieldType = $strUtils.substringBetween($target.file, "By", "Gateway") )
#set ( $uncapitalizedFieldType =  $wordUtils.uncapitalize($fieldType) )
@FunctionalInterface
public interface Search${pluralEntityName}By${fieldType}Gateway {

    Page<${entity.name}> execute(final Long ${uncapitalizedFieldType}, final Integer pageNumber, final Integer size, final String orderBy);
}
