#parse ( "include/loader_stringutils.vm" )
#foreach( $element in $model.allEntites )
#foreach( $field in $element.selectedLinks )
#if ( $field.fieldType.contains("Enum_") && $field.fieldType.equalsIgnoreCase($entity.name) )
package ${ROOT_PKG}.core.${element.name.toLowerCase()}.domain;
#end
#end
#end

import java.util.Arrays;

#include ( "/include/author.vm" )

#set ( $entityName = $entity.name.replace("Enum_", "") )
public enum ${entityName} {

#foreach( $field in $entity.attributes )
        $strUtils.join($strUtils.splitByCharacterTypeCamelCase($field.name), "_").toUpperCase() {

            @Override
            public String getMessageKey() {
                return "enum-$strUtils.join($strUtils.splitByCharacterTypeCamelCase($entityName), "-").toLowerCase()-$strUtils.join($strUtils.splitByCharacterTypeCamelCase($field.name), "-").toLowerCase()";
            }
#if( $foreach.hasNext )
        },
#else
        };
#end
#end

    public abstract String getMessageKey();

    public boolean is(final ${entityName} other) {
        return equals(other);
    }

    public boolean isNot(final ${entityName} other) {
        return !is(other);
    }

    public boolean in(final ${entityName}... others) {
        return Arrays.asList(others).contains(this);
    }

    public boolean notIn(final ${entityName}... others) {
        return Arrays.stream(others).noneMatch(this::equals);
    }
}
$target.forceEntityName(${entityName})