package ${ROOT_PKG}.entrypoint.rest.common;

import java.io.Serializable;
import java.time.LocalDateTime;

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;

#include ( "/include/author.vm" )

@Getter
@NoArgsConstructor
@AllArgsConstructor
public class HttpResponseStatus implements Serializable {

#parse ( "/include/serial_version.vm" )

    private LocalDateTime timestamp;

    private long status;

    private String error;

    private String message;

    private String path;
}
