package ${target.javaPackageFromFolder(${SRC})};

import org.springframework.context.annotation.Configuration;
import org.springframework.core.annotation.Order;
import org.springframework.security.config.annotation.web.builders.WebSecurity;
import org.springframework.security.config.annotation.web.configuration.EnableWebSecurity;
import org.springframework.security.config.annotation.web.configuration.WebSecurityConfigurerAdapter;

#include ( "/include/author.vm" )

@Configuration
@EnableWebSecurity
@Order(120)
public class ActuatorConfiguration extends WebSecurityConfigurerAdapter {

    @Override
    public void configure(final WebSecurity webSecurity)
        throws Exception {
        webSecurity.ignoring().antMatchers("/actuator", "/actuator/**");
    }
}
