#if ( !$entity.name.contains("Enum_") )
#parse ( "include/domain_info.vm" )
#set ( $pluralEntityName = $wordUtils.capitalize($inflector.getInstance().pluralize($entity.name)) )
$generator.generate($target.entityName, "Find${pluralEntityName}By${pluralDomainId}DataProvider.java", $target.folder, "root/dataproviders/database/src/main/java/FindByIdsDataProvider_java.vm" )
#end