#parse ( "/include/domain_info.vm" )
package ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()};

import org.apache.commons.lang3.StringUtils;
import org.mapstruct.factory.Mappers;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.PageRequest;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import com.cosium.spring.data.jpa.entity.graph.domain.EntityGraph;
import com.cosium.spring.data.jpa.entity.graph.domain.EntityGraphUtils;

import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.domain.${entity.name};
#set ( $fieldTypeAndKey = $strUtils.substringBetween($target.file, "By", "DataProvider") )
#set ( $uncapitalizedFieldType = $wordUtils.uncapitalize($fieldTypeAndKey) )
import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.gateway.Search${pluralEntityName}By${fieldTypeAndKey}Gateway;

import ${ROOT_PKG}.core.common.paging.Page;
import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.domain.${entity.name}Entity;
import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.mapper.${entity.name}Mapper;
import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.repository.${entity.name}Repository;
import ${ROOT_PKG}.dataprovider.common.PageMapper;
import ${ROOT_PKG}.dataprovider.common.PageRequestHelper;

#include ( "/include/author.vm" )

@Transactional(readOnly = true)
@Service
public class Search${pluralEntityName}By${fieldTypeAndKey}DataProvider implements Search${pluralEntityName}By${fieldTypeAndKey}Gateway {
    
	private final ${entity.name}Mapper ${wordUtils.uncapitalize($entity.name)}Mapper = Mappers.getMapper(${entity.name}Mapper.class);
    private final PageMapper<${entity.name}, ${entity.name}Entity> pageMapper = new PageMapper<>() {};

    @Autowired
    ${entity.name}Repository ${wordUtils.uncapitalize($entity.name)}Repository;

    @Override
    public Page<${entity.name}> execute(final Long ${uncapitalizedFieldType}, final Integer pageNumber, final Integer size, final String orderBy) {

        final PageRequest pageRequest = PageRequestHelper.buildPageRequest(pageNumber, size, sanitizeOrderBy(orderBy));
    	
        final EntityGraph entityGraph = EntityGraphUtils.fromAttributePaths(#foreach( $link in $domainLinksToOne )"${link.fieldName}"#if( $foreach.hasNext ), #end#end);
#foreach ( $field in $domainLinksToOne )
#set ( $fieldType = $wordUtils.capitalize($field.fieldType) )
#set ( $fieldEntityId = $wordUtils.capitalize($field.targetEntity.keyAttributes[0].name) )
#if ( $fieldTypeAndKey == ${fieldType} + ${fieldEntityId} )
#set ( $fieldName = $wordUtils.capitalize($field.fieldName) )
        final org.springframework.data.domain.Page<${entity.name}Entity> page = ${wordUtils.uncapitalize($entity.name)}Repository.findBy${fieldName}${fieldEntityId}(${uncapitalizedFieldType}, entityGraph, pageRequest);
#break
#end
#end

        return pageMapper.of(page, ${wordUtils.uncapitalize($entity.name)}Mapper::of);
    }

    private String sanitizeOrderBy(final String orderBy) {
        if (StringUtils.isBlank(orderBy) || StringUtils.equalsIgnoreCase(orderBy, "UNSORTED")) {
#if ( $domainStrings.size() > 0 )
            return "${domainStrings.get(0).name}:asc";
#elseif ( $domainEnumerators.size() > 0 )
            return "${domainEnumerators.get(0).name}:asc";
#elseif ( $domainBooleans.size() > 0 )
            return "${domainBooleans.get(0).name}:asc";
#elseif ( $domainTimestamps.size() > 0 )
            return "${domainDates.get(0).name}:asc";
#elseif ( $domainTimestamps.size() > 0 )
            return "${domainDates.get(0).name}:asc";
#elseif ( $domainKeys.size() > 0 )
            return "${domainKeys.get(0)}:asc";
#end
        }
        return StringUtils.stripToEmpty(orderBy);
    }
}
