#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "Register${entity.name}UseCaseImpl.java", $target.folder, "root/core/src/main/java/usecaseimpl/RegisterUseCaseImpl_java.vm" )
#end