#if ( !$entity.name.contains("Enum_") )
#parse ( "include/domain_info.vm" )
$generator.generate($target.entityName, "Remove${entity.name}By${domainId}UseCaseImpl.java", $target.folder, "root/core/src/main/java/usecaseimpl/RemoveByIdUseCaseImpl_java.vm" )
#end