package ${ROOT_PKG}.core.enumerator.usecase;

import java.util.List;

import ${ROOT_PKG}.core.enumerator.domain.Enumerator;
import ${ROOT_PKG}.core.enumerator.usecase.parameter.SearchEnumeratorsParameters;

#include ( "/include/author.vm" )

@FunctionalInterface
public interface SearchEnumeratorsUseCase {

    List<Enumerator> execute(final SearchEnumeratorsParameters searchEnumeratorsParameters);
}
