#if ( !$entity.name.contains("Enum_") )
$generator.generate($target.entityName, "${entity.name}Repository.java", $target.folder, "root/dataproviders/database/src/main/java/repository/Repository_java.vm"  )
#end