#parse ( "/include/domain_info.vm" )
package ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.repository;

import java.util.Optional;

#if ( $domainLinksManyToOne.size() > 0 )
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
#end

import org.springframework.stereotype.Repository;

#if ( $domainLinksToOne.size() > 0  && ( $domainEnumerators.size() > 0 || $domainStrings.size() > 0 || $domainBooleans.size() > 0 ) )
import com.cosium.spring.data.jpa.entity.graph.domain.EntityGraph;
#end
import com.cosium.spring.data.jpa.entity.graph.repository.EntityGraphJpaRepository;
import com.cosium.spring.data.jpa.entity.graph.repository.EntityGraphQuerydslPredicateExecutor;

import ${ROOT_PKG}.dataprovider.${entity.name.toLowerCase()}.domain.${entity.name}Entity;

#include ( "/include/author.vm" )

@Repository
public interface ${entity.name}Repository extends EntityGraphJpaRepository<${entity.name}Entity, Long>, EntityGraphQuerydslPredicateExecutor<${entity.name}Entity> {
#foreach( $field in $domainKeys )

#if ( $field.isLongType() )
    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.name)(final Long $field.name#if ( $domainLinksToOne.size() > 0), final EntityGraph entityGraph#end);
#else
    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.name)(final $field.type $field.name#if ( $domainLinksToOne.size() > 0), final EntityGraph entityGraph#end);
#end
#end
#foreach( $field in $domainLinksManyToOne )
#set ( $fieldName =  $wordUtils.capitalize(${field.fieldName}) )
#set ( $fieldEntityId = $wordUtils.capitalize($field.targetEntity.keyAttributes[0].name) )

    Page<${entity.name}Entity> findBy${fieldName}${fieldEntityId}(final Long ${field.fieldName}${fieldEntityId}#if ( $domainLinksToOne.size() > 0), final EntityGraph entityGraph#end, final PageRequest pageRequest);
#end
#foreach( $field in $domainLongs )

    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.name)(final Long $field.name#if ( $domainLinksToOne.size() > 0), final EntityGraph entityGraph#end);
#end
#foreach( $field in $domainStrings )

    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.name)IgnoreCase(final String $field.name#if ( $domainLinksToOne.size() > 0), final EntityGraph entityGraph#end);
#end
#foreach( $field in $domainEnumerators )
#if ($field.isCardinalityManyToOne())

    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.fieldName)(final String $field.fieldName#if ( $domainLinksToOne.size() > 0), final EntityGraph entityGraph#end);
#end
#end
#foreach( $field in $domainBooleans )

    Optional<${entity.name}Entity> findBy$wordUtils.capitalize($field.name)(final Boolean $field.name#if ( $domainLinksToOne.size() > 0), final EntityGraph entityGraph#end);
#end
}
