#parse ( "include/domain_info.vm" )
$entity.name [$domainId]
##
#foreach( $field in $domainKeys )
${field.name} [domainKeys]
#end
##
#foreach( $element in $domainUniqKeys )
${element[0]} [0]
${element[1]} [1]
${element[2]} [2]
#end
##
#foreach( $link in $domainLinks )
$link.fieldName $link.fieldType  $wordUtils.capitalize($link.targetEntity.keyAttributes[0].name)
#end
##
#foreach( $field in $domainEnumerators )
${field.fieldName} [domainEnumerators]
#end
##
#foreach( $field in $domainStrings )
${field.name} [domainStrings]
#end
##
#foreach( $field in $domainBooleans )
${field.name} [domainBooleans]
#end
##
#foreach( $field in $domainDecimals )
${field.name} [domainDecimals]
#end
##
#foreach( $field in $domainDates )
${field.name} [domainDates]
#end
##
#foreach( $field in $domainTimestamps )
${field.name} [domainTimestamps]
#end
##
$uncapitalizeEntityName [uncapitalize] 
$pluralEntityName [capitalize plural]
$wordUtils.uncapitalize( $inflector.getInstance().pluralize( $entity.name ) ) [uncapitalize plural]
##
#foreach( $field in $domainUkKeys )
$field.name [Unique Keys]
#end
##
#foreach( $field in $domainIndexes )
$field.name [Indexes]: $field.isNotNull()
#end
##
#foreach( $dependent in $domainReferencedBy )
#set ( $dependentKeys = $dependent.keyAttributes )
#if ( $dependentKeys.size() == 1 )
#set ( $referenceId = $wordUtils.capitalize($dependentKeys.get(0).name) )
#set ( $pluralReferenceId = $inflector.getInstance().pluralize($referenceId) )
References [The $entity.name is referenced by the $dependent and the $dependent.name key is $referenceId]
#end
#end
##
#if ( $entity.name.contains("Enum_") )
#set ( $entityName = $entity.name.replace("Enum_", "") )
$target.forceEntityName(${entityName})
#end
##
#macro( printEntityFields $params )
#set ( $entitie = $params.param1 )
#set ( $prefix = $params.param2 )
#set ( $entitieAttributes = $entitie.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS ) )
#foreach ( $field in $entitieAttributes )
${prefix}${field.type} ${field.name};
#end
#foreach( $link in $entitie.selectedLinks )
#if ( !$link.fieldType.contains("Enum_") )
#set($params = {"param1" : $link.targetEntity, "param2": "${link.fieldName} "})
#printEntityFields($params)
#end
#end
#end
#set( $params = {"param1" : $entity, "param2": ""} )
#printEntityFields($params)
