#if ( !$entity.name.contains("Enum_") )
#parse ( "/include/domain_info.vm" )
$generator.generate($target.entityName, "Search${pluralEntityName}Presenter.java", $target.folder, "root/entrypoints/rest/src/main/java/mapper/Presenter_java.vm" )
#end