#parse ( "/include/domain_info.vm" )
package ${ROOT_PKG}.entrypoint.rest.${entity.name.toLowerCase()}.controller;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.http.HttpStatus;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseStatus;
import org.springframework.web.bind.annotation.RestController;

import ${ROOT_PKG}.core.${entity.name.toLowerCase()}.usecase.Remove${entity.name}By${domainId}UseCase;
import ${ROOT_PKG}.entrypoint.rest.${entity.name.toLowerCase()}.api.Remove${entity.name}By${domainId}ApiMethod;
import ${ROOT_PKG}.entrypoint.rest.common.metric.LogExecutionTime;
import lombok.RequiredArgsConstructor;

/*
 * A EntryPoint follows these steps:
 *
 * - Maps HTTP requests to Java objects
 * - Performs authorization checks
 * - Maps input to the input model of the use case
 * - Calls the use case
 * - Maps the output of the use case back to HTTP Returns an HTTP response
 */

#include ( "/include/author.vm" )

@RequiredArgsConstructor
@RestController
@RequestMapping("/${entityNameAsUrl}")
public class Remove${entity.name}By${domainId}Controller implements Remove${entity.name}By${domainId}ApiMethod {

    private static final Logger log = LoggerFactory.getLogger(Remove${entity.name}By${domainId}Controller.class);

    private final Remove${entity.name}By${domainId}UseCase remove${entity.name}By${domainId}UseCase;

    @Override
    @LogExecutionTime
    @ResponseStatus(HttpStatus.NO_CONTENT)
    @DeleteMapping("/{${uncapitalizedDomainId}}")
    public void execute(@PathVariable final Long ${uncapitalizedDomainId}) {

        log.info("Starting Controller -> Remove${entity.name}By${domainId}Controller with {}", ${uncapitalizedDomainId});

        remove${entity.name}By${domainId}UseCase.execute(${uncapitalizedDomainId});
    }
}
