#if ( !$entity.name.contains("Enum_") )
#parse ( "/include/domain_info.vm" )
$generator.generate($target.entityName, "Remove${entity.name}By${domainId}Controller.java", $target.folder, "root/entrypoints/rest/src/main/java/controller/RemoveByIdController_java.vm" )
#end