#if ( !$entity.name.contains("Enum_") )
#parse ( "/include/domain_info.vm" )
$generator.generate($target.entityName, "Find${pluralEntityName}By${pluralDomainId}WrapperResponse.java", $target.folder, "root/entrypoints/rest/src/main/java/response/FindByIdsWrapperResponse_java.vm" )
#end