#if ( !$entity.name.contains("Enum_") )
#parse ( "/include/domain_info.vm" )
$generator.generate($target.entityName, "Register${entity.name}Response.java", $target.folder, "root/entrypoints/rest/src/main/java/response/Response_java.vm" )
#end